section.about img {
    max-width: 200px;
    float: right;
    border-radius: 250px;
    margin: 1rem;
}

@media screen and (min-width: 768px) {
    section.about img {
        max-width: 350px;
    }
}