@font-face {
  font-family: Montserrat;
  src: url(./src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Lora;
  src: url(./src/assets/fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blueGradient: linear-gradient(rgb(90, 90, 153),rgb(40, 67, 106));
  --regularShadow: 3px 5px 25px rgba(0,0,0,0.1);
}

html {
  font-size: 16px;
}

body {
  font-family: Lora;
}

p {
  margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

section {
  padding: 3rem;
}

section:nth-child(odd) {
  background: var(--blueGradient);
}

section:nth-child(odd) h2, section:nth-child(odd) p {
  color: #fff;
}