form {
    max-width: var(--pageMaxWidth);
    margin: 0 auto;
}

input, textarea {
    display: block;
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 1rem;
}

label {
    display: block;
    margin-top: 1rem;
}

