header {
    background: var(--blueGradient);
    display: grid;
    grid-template: auto / 1fr 1fr;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    box-shadow: var(--regularShadow);
}

header nav ul li {
    list-style: none;
    text-indent: 0;
}

header nav ul {
    display: flex;
    flex-flow: column;
}

header nav a {
    text-decoration: none;
    color: rgb(253, 253, 219);
    display: block;
    text-align: center;
}

header nav a {
    padding: 0.75rem;
}

header nav a:hover {
    background: red;
}

header nav {
    grid-column: span 2;
    max-height: 250px;
    pointer-events: initial;
    transition: 300ms ease-in;
}

header nav.inactive {
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
}


.nav-trigger {
    justify-self: end;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 50px;
    cursor: pointer;
    position: relative;
    margin: 2rem;
    height: 100%;
}

.nav-trigger > .nav-beam{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #fff;
    transition: 300ms ease-in;
}

.header-logo {
    height: 50px;
    width: 50px;
    background: red;
}

.nav-trigger.active > .nav-beam:first-child {
    transform: translateY(100%) rotate(45deg);
}

.nav-trigger.active > .nav-beam:last-child {
    transform: translateY(-100%) rotate(-45deg);
}

@media screen and (min-width: 768px) {
    header {
        top: 1rem;
        max-width: 400px;
        margin: 0 auto;
        border-radius: 40px;
    }
}