#hero {
    height: 90dvh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.hero-home {
    background: url('src/assets/desktop-tools-bg.jpg') fixed no-repeat;
    background-size: cover;
}

#hero p {
    font-size: 1.5rem;
    text-align: center;
}

a.button {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    background: var(--blueGradient);
    border-radius: 1rem;
    color: #fff;
    margin: 1rem 0;
    box-shadow: var(--regularShadow);
}


