section.services .services-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.service {
    background: aliceblue;
    text-align: center;
    padding: 2rem 1rem;
    flex: 1 0 350px;
    border-radius: 25px;
    box-shadow: 3px 5px 25px rgba(0,0,0,0.1);
}

/* ab Tablet Größe */
@media screen and (min-width: 768px) {
    section.services .services-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

/* ab große Bildschirme */
@media screen and (min-width: 1280px) {
    section.services .services-wrapper{
        display: flex;
        flex-flow: row wrap;
    }
}